@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap");

* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}

$Red: #ff5c5c;
$Very_Dark_Blue: #242942;
$Dark_Grayish_Blue: #5b5f71;
$Grayish_Blue: #a0a1ac;
$Light_Grayish_Blue: #eef3f6;

$Fsize: 18px;
$HCNsize: "Barlow Condensed", sans-serif;
$Famsize: "Barlow", sans-serif;

